<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="/stylesheets/home.css">
</head>
<body>
    <div id="main">
        <div id="nav">
      <img class="h-[30px] w-[30px] rounded-full " src="https://upload.wikimedia.org/wikipedia/commons/0/08/Pinterest-logo.png" alt="">
            <a id="home" href="/home">Home</a>
            <a href="/feed">Feed</a>
            <a href="/add">Create</a>
            <input class="py-[10px] px-[20rem] rounded-full text-left border-none " type="text" placeholder="Search">
            <a href="/profile">Profile</a>
            <a href="/logout">Logout</a>
        </div>

        <div id="container">
          <div class="upload">
            <img src="https://i.pinimg.com/564x/71/60/8b/71608b96907780ee63c913b4db91aeaf.jpg" alt="">
            <h4>instagram.com</h4>
           </div>


           <div class="upload">
            <img src="https://i.pinimg.com/564x/e0/8c/74/e08c74692a73d86451a3e41559dd66c9.jpg" alt="">
            <h4>cold heart?</h4>
           </div>

           <div class="upload">
            <img src="https://i.pinimg.com/564x/37/48/dc/3748dc40b14c1ab1106aa373491d267d.jpg" alt="">
            <h4>feeding the beast</h4>
           </div>

           <div class="upload">
            <img src="https://i.pinimg.com/564x/f8/56/32/f856321fa0719f5e1a66d7c13a5405b3.jpg" alt="">
            <h4>kevin levrone</h4>
           </div>


           <div class="upload">
            <img src="https://i.pinimg.com/originals/c5/c6/79/c5c67952a3a87c237d5889644c6963e9.gif" alt="">
            <h4>drift?</h4>
           </div>

           <div class="upload">
            <img src="https://i.pinimg.com/564x/22/06/9e/22069ef44856c210079e5de21748973d.jpg" alt="">
            <h4>Zoro King of Hell</h4>
           </div>

           <div class="upload">
            <img src="https://i.pinimg.com/564x/37/c7/5a/37c75a8a15b95249ceacef204270fe87.jpg" alt="">
            <h4>.</h4>
           </div>

           <div class="upload">
            <img src="https://i.pinimg.com/564x/0e/12/06/0e12061a9c25a3d232c302f163f2b3b5.jpg" alt="">
            <h4>Happy Birthday</h4>
           </div>

           








        </div>

      

</body>
</html>


